<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>StudentManageSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StudentListServlet</display-name>
    <servlet-name>StudentListServlet</servlet-name>
    <servlet-class>com.athena.servlet.StudentListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentListServlet</servlet-name>
    <url-pattern>/StudentListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addServlet</display-name>
    <servlet-name>addServlet</servlet-name>
    <servlet-class>com.athena.servlet.addServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addServlet</servlet-name>
    <url-pattern>/addServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>com.athena.servlet.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditServlet</display-name>
    <servlet-name>EditServlet</servlet-name>
    <servlet-class>com.athena.servlet.EditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditServlet</servlet-name>
    <url-pattern>/EditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServlet</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>com.athena.servlet.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchStudentServlet</display-name>
    <servlet-name>SearchStudentServlet</servlet-name>
    <servlet-class>com.athena.servlet.SearchStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchStudentServlet</servlet-name>
    <url-pattern>/SearchStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentListPageServlet</display-name>
    <servlet-name>StudentListPageServlet</servlet-name>
    <servlet-class>com.athena.servlet.StudentListPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentListPageServlet</servlet-name>
    <url-pattern>/StudentListPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxStudentListPageServlet</display-name>
    <servlet-name>AjaxStudentListPageServlet</servlet-name>
    <servlet-class>com.athena.servlet.ajax.StudentListPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxStudentListPageServlet</servlet-name>
    <url-pattern>/AjaxStudentListPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SexServlet</display-name>
    <servlet-name>SexServlet</servlet-name>
    <servlet-class>com.athena.servlet.SexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SexServlet</servlet-name>
    <url-pattern>/SexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SkipPage</display-name>
    <servlet-name>SkipPage</servlet-name>
    <servlet-class>com.athena.servlet.ajax.SkipPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SkipPage</servlet-name>
    <url-pattern>/SkipPage</url-pattern>
  </servlet-mapping>
</web-app>